
<div class="row padding-wrapper">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-8 pull-right p-r-z">
                <selectize config='searchWebsite' options='websitesList' ng-model="SearchModel"></selectize>
                <div class="input-group">
                </div>
            </div>
        </div>
        <div class="row well well-lg m-t info-card" ng-repeat='website in websites track by $index'>
            <div class="col-md-1" >
                <!-- {{ website.favicon_image }} -->
                <img height="50px" src="{{ website.favicon_image }}" class="img-circle" alt="No Image"/>
            </div>
            <div class="col-md-11 info-wrapper">
                <div class="row title-height">
                    {{ website.title }}
                </div> 
                <div class="row bottom-wrapper">
                    <div class="col-md-3 p-r-z">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        {{ website.tag }}
                    </div>
                    <!-- <div class="col-md-1 p-l-z "> |</div> -->
                    <div class="col-md-7 p-l-z">
                        |
                        <i class="fa fa-link" aria-hidden="true"></i>
                        <a ng-href="{{website.url_address}}" target="_blank">
                            {{ website.url_address }}
                        </a>
                    </div>
                    <div class="col-md-2 pull-right align-right"> | 
                        <a <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
                            {{ website.id }} 
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer" style="margin-top: 10px;">
            <div class="row">
               <!--  <div class="col-sm-4">
                    <p>
                        Show
                        <select class="" ng-model= 'selectedItems' ng-options="opt.id as opt.value for opt in itemsPerPage" ng-change='changePerPage()'>
                        </select>
                        items per page
                    </p>
                </div> -->

                <div class="col-sm-6" style="padding-top: 30px;">
                    <p>Showing {{ showingOrderNo.from}}-{{showingOrderNo.to}} of {{ totalItems }} items</p>
                </div>

                <div class="col-sm-6 text-right">
                    <uib-pagination total-items="totalItems" ng-model="page" items-per-page="perPage" max-size="maxSize" ng-change='pageChanged()' class="pagination-sm" boundary-link="true"></uib-pagination>
                </div>

            </div>
        </div>
    </div>
    <hr class="vertical"/>
    <div class='col-md-4 push-website-wrapper'>
        <div class='col-md-12'>
            <div class="row push-website-header">
                Contribute/ Add website
            </div>
            <div class="row m-t">
               <input type="text" name="title" placeholder="title" ng-model="pushWebsite.title" class="form-control" />
            </div>
            <div class="row m-t">
               <input type="text" name="url_address" placeholder="web/url address" ng-model="pushWebsite.url_address" class="form-control" />
            </div>
        </div>
        <div class="row m-t">
            <div class="col-md-4 m-t">
                <input type="text" name="tag" placeholder="tag" ng-model="pushWebsite.tag" class="form-control" />
            </div>
            <div class="col-md-4 m-t">
                
                <button type="submit" style="background: #448258" ng-disabled='isPushdisable' ng-click="pushWebsite()" class="btn btn-primary">push website
                    <span style="margin-left: 10px"> <i class="fa fa-plus"  aria-hidden="true"></i> </span>
                </button>
            </div>

       </div>
       <div class="row col-md-12" ng-show='isShowMessage'> {{ message }} </div>

    </div>

</div>
